{% extends 'base.html' %} {% block content %} 
<div class="container">
<h2>change password</h2>
<form method="post">
  
  {% for field in form %}
    <p>
        {% csrf_token %}
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
  <button type="submit" class="btn btn-primary">change password</button>
</form>
</div>
{% endblock content %}
