{% extends 'base.html' %} {% block content %}
<div class="container">
  <h1>about me</h1>
  <br /><br />
  <p>راه های ارتباطی با من</p>
  <p>شماره تماس :09369602343</p>

  <br /><br />
  <ul class="social-list list-inline py-3 mx-auto">
    <li class="list-inline-item">
      <a href="https://www.instagram.com/bs.raz" target="_blank"
        ><i class="fab fa-instagram fa-fw"></i
      ></a>
    </li>
    <li class="list-inline-item">
      <a href="#" target="_blank"><i class="fab fa-linkedin-in fa-fw"></i></a>
    </li>
    <li class="list-inline-item">
      <a href="https://github.com/sunilrazaghi81" target="_blank"
        ><i class="fab fa-github-alt fa-fw"></i
      ></a>
    </li>

    <li class="list-inline-item">
      <a href="https://www.t.me/Sunilbsraz" target="_blank"
        ><i class="fab fa-telegram fa-fw"></i
      ></a>
    </li>
  </ul>
</div>
{% endblock content %}
