{% extends 'base.html' %} {% block content %}

<body>
  <div class="text-justify">
    <article class="blog-post px-3 py-5 p-md-5">
      <div class="container">
        <header class="blog-post-header">
          <h2 class="title mb-2">{{posts.title}}</h2>
          <div class="meta mb-3">
            <span class="date">Published 3 months ago</span
            ><span class="time">5 min read</span
            ><span class="comment"><a href="#">comments:{% with comments|length as comments_length %}
               {{ comments_length }}
          {% endwith %}
          </a></span>
          </div>
        </header>

        <div class="blog-post-body">
          <figure class="blog-banner">
            <a href="#"
              ><img
                class="img-fluid"
                src="{{MEDIA_URL}}{{posts.image.url}}"
                alt="image"
            /></a>
          </figure>
          <p>{{posts.description | safe}}</p>
          
      

          {% if user.is_authenticated and posts.author == user %}

          <a href="{% url 'blog:delete' posts.id %}">delete</a> |
          <a href="{% url 'blog:update' posts.id %}">update</a>
          {% endif %}
            <br><br><br><br>
          <div class="form-style-6">
            <h1>Comment</h1>
            <form method="post" class="form-horizontal" id="form_comment">
              {% csrf_token %} {{ form }}
          
              <button type="submit" class="btn btn-primary" >Submit</button>
            </form>
          </div>

        <ul>
          {% for comment in comments %}
          <li>
            <p>{{ comment.name }} said on {{ comment.create }}:</p>
            <p>{{ comment.comment }}</p>
          </li>
          {% endfor %}
        </ul>
        
       
       <div>
          <p>
              <h1>tags</h1>
              {% for tag in posts.tags.all %}
                <a href="{% url 'blog:list' tag.slug %}">{{tag.name}}</a>
              {% endfor %}
                
  
          </p>
        </div>
     

  <!-- Javascript -->
  <script src="assets/plugins/jquery-3.3.1.min.js"></script>
  <script src="assets/plugins/popper.min.js"></script>
  <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>

  <!-- Page Specific JS -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js"></script>

  <!-- Custom JS -->
  <script src="assets/js/blog.js"></script>

  <!-- Style Switcher (REMOVE ON YOUR PRODUCTION SITE) -->
  <script src="assets/js/demo/style-switcher.js"></script>
</body>




{% endblock content %}


  